/* 회원가입 컴포넌트 스타일 */

/* 폼 전체를 감싸는 div */
.login-form {
    font-family: font2;
    width: 400px;
    margin: 0 auto;
    margin-left: 250px;
    padding: 20px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

/* 각 입력 필드 라벨 */
.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* 각 입력 필드 */
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* 제출 버튼 */
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #00462A;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

/* 제출 버튼 호버 효과 */
.login-form button:hover {
    background-color: #002E1B;
}

/* 가입 완료 메시지 */
.login-form p {
    margin-top: 15px;
    color: #00462A;
    font-weight: bold;
}
