.settings-container, .user-info-container, .profile-edit-container, .test-container {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.settings-container:hover, .user-info-container:hover, .profile-edit-container:hover, .test-container:hover {
    transform: translateY(-5px);
}

.settings-container:before, .user-info-container:before, .profile-edit-container:before, .test-container:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(135deg, #cccccc, #00462A);
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.settings-container:hover:before, .user-info-container:hover:before, .profile-edit-container:hover:before, .test-container:hover:before  {
    opacity: 1;
}

