@font-face {
  font-family: "font1";
  src: url("/Users/eunseo-ko/ExploreX/frontend/src/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "font2";
  src: url("/Users/eunseo-ko/ExploreX/frontend/src/fonts/NotoSansKR-Thin.ttf");
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounceText h1 {
  animation: bounce 2s 1;
}




.App {
  text-align: center;
}

.ewhaGreen-nav{
  font-family: font1;
  display: flex;
  width: 100%;
  background: #00462A;
  color: white;
  font-size: 18px;
}


.menu{
  font-family: font2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 100%;
  background: white;
  color: black;
}

.ewha{
  display: flex;
  background: white;
  width: 100%;
  height: 100px;
  color: black;
  img-align: center;
  border-top: 3px solid #00462A;
  background-image: url(/Users/eunseo-ko/ExploreX/frontend/src/images/ewha-womans-university.png);
  background-repeat: no-repeat;
  background-position: center;
}

.context{
  padding-top: 10px;
  background-image: url(/Users/eunseo-ko/ExploreX/frontend/src/images/bc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

/*.search{*/
/*  background: #00462A;*/
/*}*/

/*.checkbox-container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  margin-left: 345px;*/
/*  margin-right: 346px;*/
/*  margin-bottom: 100px;*/
/*  margin-top: -10px;*/
/*  background-color: white;*/
/*  border: none;*/
/*  padding: 10px;*/
/*  font-size: 12px;*/
/*  text-align: left;*/
/*}*/

/*.checkbox-item {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  padding: 5px;*/
/*}*/

/*.checkbox-container input[type="checkbox"] {*/
/*  margin-bottom: 5px;*/
/*}*/

/*.info {*/
/*  font-family: font2;*/
/*  display: flex;*/
/*  text-align: left;*/
/*  align-items: center;*/
/*  background: #00462A;*/
/*  width: 100%;*/
/*  color: white;*/
/*}*/

/*.custom-button,*/
/*.submit-button {*/
/*  font-size: 15px;*/
/*  font-family: font2;*/
/*  font-weight: bold;*/
/*  width: 110px;*/
/*  padding: 5px 10px;*/
/*  font-size: 14px;*/
/*  cursor: pointer;*/
/*  transition: background-color 0.3s ease;*/
/*  margin-left: 10px;*/
/*  margin-top: 30px;*/
/*  margin-bottom: 20px;*/
/*  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.custom-button {*/
/*  background-color: white;*/
/*  color: black;*/
/*  border: none;*/
/*}*/

/*.custom-button:hover {*/
/*  background-color: lightgray;*/
/*}*/

/*.submit-button {*/
/*  background-color: #00462A;*/
/*  color: white;*/
/*}*/

/*.submit-button:hover {*/
/*  background-color: #002E1B;*/
/*}*/


